*{
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}


body {
	background: #white;  /* color de fondo gral */
	font-family: "Verdana", "sans-serif";
}

header{
	display: block;
	margin: 0px;
	padding: 0px;
	text-align: center;

}

/*------------COMIENZA BURGUER------------------------------------------*/

.burger {
	display: block;
	border: 0;
	background: none;
	outline: 0;
	padding: 0;
	cursor: pointer;
	width: 28px;
}

.burger-check {
	display: none;
}

input[type=checkbox] + label {
	background: url(../images/menu-icon.png) no-repeat;
	background-size: 40px;
	height: 40px;
	width: 40px;
	position: absolute;
	top: 5px;
	left: 84vw;
}

input[type=checkbox]:checked + label {
	background: url(../images/cross.png) no-repeat;
	background-size: 40px;
	height: 40px;
	width: 40px;
	position: absolute;
	top: 5px;
	left: 84vw;
}

.desplegable{
	overflow: hidden;
	max-height: 0;
}

.burger-check:checked ~ .desplegable{
	max-height: 500px;
}

/*------------TERMINA BURGUER------------------------------------------*/

.barra_superior {   /* Todo lo que hay en el header. */
	margin: 0px;    /* dejo algunas cosas en cero, por si uno quiere probar un valor rapidamente y luego hacer undo */
	padding: 0px;
	background: white;
	display: flex;
	flex-flow: column;
}

.logo-marca img{
	margin: 0px;
	padding: 0px 0px;
	height: 45px;
}

.botonera{
	flex-flow: row;
}

.botonera li{
	flex-grow: 1;
}

.botonera a{
	display: block;
	padding: 10px 0px;
	font-weight: bold;
	color: grey;
}

.botonera a:hover{
	background-color: rgba(0, 0, 0, 0.8);
	font-weight: bold;
	color: white;
}

.registrate{
	flex-flow: row;
	/*padding: 10px 0px;*/
	/*border-radius: 5px;*/
	/* GONZA: el redondeante, creo, queda disonante con el resto, cualquier cosa lo activamos de nuevo */
	background: #4CAF50;
}

.registrate li{
	flex-grow: 1;
}

.registrate a{
	display: block;
	padding: 10px 0px;

	font-weight: bold;
	color: white;
}

.registrate a:hover{
	background-color: rgba(0, 0, 0, 0.6);
	font-weight: bold;
	color: #4CAF50;
}

footer{
	display: block;
	margin: 0px;
	padding: 1%;
	/* min-height: 100px; */
	background: rgba(0, 0, 0, 0.9);
	color: white;
	font-size: 14px;
}

footer a{
	float: right;
	font-weight: bold;
	color: red;
}

.type_portada {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	url(../images/pic4.jpg);
	background-size: cover;
	display: block;
	margin: 0px;
	padding: 5%;
	min-height: 500px;
	font-weight: bold;
	color: white;
	text-align: center;
}

.type_portada h2{
	font-size: 2.3em;
}

.mainButton{
	display: flex;
	justify-content: center;

	margin: auto;
	height: 200px;
	align-items: center;
}

.opciones_principales1 a{
	background-color: rgba(255, 255, 255, 1);
	border: solid white 1px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	width: 36vw;
	max-width: 450px;
	min-height: 3vw;
	padding: 5%;

	display: block;
	text-decoration: none;
	font-weight: bold;
	color: black;
	margin: 1vw;
	border-radius: 15px;
}
.opciones_principales2 a{
	background-color: rgba(255, 255, 255, 1);
	border: solid white 1px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	width: 36vw;
	max-width: 450px;
	min-height: 3vw;
	padding: 5%;

	display: block;
	text-decoration: none;
	font-weight: bold;
	color: black;
	margin: 1vw;
	border-radius: 15px;
}

.type_portada input{
	line-height: 20px;
	text-align: center;
	max-width: 950px;
	border-radius: 3px;
	width: 50%;
	margin: 20px;
}

.type1 {
	display: block;
	margin: 0px;
	padding: 5%;
	min-height: 200px;
	background: rgba(255, 255, 255, 0.8);
	text-align: center;
}

.type2 {
	display: block;
	margin: 0px;
	padding: 5%;
	min-height: 200px;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	text-align: center;
}

.type2 p{
	font-size: 0.8em;
}
.registro_volver a{
	background-color: red;
	padding: 10px;
	margin: auto 300px;
	text-decoration: none;
	color: black;
}

/*------------EMPIEZA  estilos LOGIN-------------------------*/

.login-modal {/* la caja de login con su fondo, el div contenedor */
	display: none; /* oculta al comienzo*/
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	/*ocupar pantalla*/
	width: 100vw;
	height: 100vh;
	/*scroll si necesita*/
	/*overflow: auto;*/
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
	}

.caja-login {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% arriba, 15% abajo y centrado */
    border: 1px solid #888;
    width: 80%;
		max-height: 90vh;
    max-width: 500px;

} /*el form*/

.login-container {
    padding: 16px;
    position: relative;
    overflow: hidden;
		/*background-color: red;*/

}
.login-container-abajo{
	background-color: lightgrey;
	overflow: hidden;
	padding: 1em;
	position: relative;
}

.login-container-arriba {
    text-align: center;
    /*margin: 24px 0 12px 0;*/
		height: 40px;
		margin: 0;
    position: relative;
		overflow:  hidden;
		/*background-color: blue;*/
}
.login-avatar {
    width: 20%;
    border-radius: 50%;
}

.login-input[type=text], .login-input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}/* campos de texto al 100% */

.logear-con h2{
	padding-left: 0.5em;
}
.logear-con li{
	display: inline-block;
}
.boton-logear-con-red{
	display: inline;
	float: left;
	margin-left: 20%;
	margin-top: 10%;
}
.logear-con li:hover img{
	opacity: 0.8;
}

.login-botones {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.login-botones:hover {
    opacity: 0.8;
}
.login-olvidaste{
  padding: 5px;
  float: right;
  /*background-color: red;*/
}
.ir-registro{
  padding: 5px;
  float: left;
  /*background-color: red;*/
  text-decoration: none;
  font-weight: bold;

}
.ir-registro a{
  color: red;
}
.ir-registro a,.psw a{
  text-decoration: none;
}
.ir-registro a:hover, .login-olvidaste a:hover{
  text-decoration: underline;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}/* botón cerrar (x) */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}/*animación cuando aparece (ZOOM)  -webkit   */

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}


/*------------FIN ESTILOS LOGIN-------------------------------------------*/
/* ----------- INICIA ESTILOS REGISTRATE----------------------------------*/
.registro-container {
	display: block;
	margin: 20px;
	padding-top: 3%;
	padding-left: 30%;
	padding-right: 30%;
	min-height: 200px;
	background-color: white;
	text-align: left;
	font-size: 10px;

}

.formulario {

}

.decorative-input{
	background-image: url(https://a0.muscache.com/airbnb/static/signinup/text-field-icons-72d5ec863b1ef7c22391015ec8af5906.png);
	background-repeat: no-repeat;
	background-position: right 9px;
	box-sizing: border-box;
	display: block;
	font-size: 14px;
	height: 40px;
	padding: 10px 35px 10px 10px;
	width: 100% !important;
	background-size: 40px 171px;
}

.decorative-input-mail {
	background-image: url(https://a0.muscache.com/airbnb/static/signinup/text-field-icons-72d5ec863b1ef7c22391015ec8af5906.png);
	background-repeat: no-repeat;
	background-position: right -40px;
	box-sizing: border-box;
	display: block;
	font-size: 14px;
	height: 40px;
	padding: 10px 35px 10px 10px;
	width: 100% !important;
	background-size: 40px 171px;
}

.decorative-input-password {
	background-image: url(https://a0.muscache.com/airbnb/static/signinup/text-field-icons-72d5ec863b1ef7c22391015ec8af5906.png);
	background-repeat: no-repeat;
	background-position: right -90px;
	box-sizing: border-box;
	display: block;
	font-size: 14px;
	height: 40px;
	padding: 10px 35px 10px 10px;
	width: 100% !important;
	background-size: 40px 171px;
}

.checkbox{
	cursor: pointer;
	line-height: normal;
}

.signup_modal_promotion_checkbox{
	padding-top: 9px;
	padding-bottom: 20px;
	margin-right: 5px;
}

.pull-left{
	float: left;
}

.enviar{
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	padding-left: 27px !important;
	padding-right: 27px !important;
	font-weight: normal;
	box-sizing: border-box;
	border-color: #ff5a5f;
	background-color: #ff5a5f;
	color: #fff;
	letter-spacing: 1px;
}

/* ----------- FINALIZA ESTILOS REGISTRATE----------------------------------*/

/* Small Devices, Tablets */
@media (min-width : 768px) {

	/*------------EMPIEZA BURGUER------------------------------------------*/

	input[type=checkbox] + label {
		background: none;
	}

	input[type=checkbox]:checked + label {
		background: none;
	}

	.desplegable{
		overflow: visible;
		max-height: 48px;
	}

	.burger-check:checked ~ .desplegable{
		overflow: visible;
		max-height: 48px;
	}

	/*------------TERMINA BURGUER------------------------------------------*/

	.barra_superior{
		width: 100%;
		position: fixed;
		top: 0px;
		flex-flow: row;
		justify-content: center;
		align-items: center;
	}

	body{
		position: relative;
		top: 48px;
	}

	.logo-marca img{
		margin: 0px 50px;
	}

	.botonera{
		display: flex;
	}

	.botonera li{
		flex-grow: 1;
	}

	.botonera a{
		display: block;

		padding: 15px 3vw;
	}

	.registrate li{
		flex-grow: 1;
	}

	.registrate a{
		display: block;
		padding: 15px 3vw;

		font-weight: bold;
		color: white;
	}

}
	@media (max-width: 599px){ /* Mobil  */
			.caja-login {
					width: 100%;
					margin-left:0;
			} /*el form*/

			.login-modal{
				overflow: scroll;
				background-color: white;

			}
		}
