*{
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}


body {
	background: white;  /* color de fondo gral */
	font-family: Verdana, sans-serif;
	font-size: 16px;
}

header{
	display: block;
	margin: 0px;
	padding: 0px;
	text-align: center;
	position: relative;
	z-index: 1;
}

/*------------COMIENZA BURGUER------------------------------------------*/

.burger {
	display: block;
	border: 0;
	background: none;
	outline: 0;
	padding: 0;
	cursor: pointer;
	width: 28px;
}

.burger-check {
	display: none;
}

input[type=checkbox] + label {
	background: url(../images/menu-icon.png) no-repeat;
	background-size: 40px;
	height: 40px;
	width: 40px;
	position: absolute;
	top: 5px;
	left: 84vw;
}

input[type=checkbox]:checked + label {
	background: url(../images/cross.png) no-repeat;
	background-size: 40px;
	height: 40px;
	width: 40px;
	position: absolute;
	top: 5px;
	left: 84vw;
}

.desplegable{
	overflow: hidden;
	max-height: 0;
}

.burger-check:checked ~ .desplegable{
	max-height: 500px;
}

/*------------TERMINA BURGUER------------------------------------------*/

.barra_superior {   /* Todo lo que hay en el header. */
	width: 100%;
	position: fixed;
	top: 0px;
	margin: 0px;    /* dejo algunas cosas en cero, por si uno quiere probar un valor rapidamente y luego hacer undo */
	padding: 0px;
	background: white;
	display: flex;
	flex-flow: column;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /*esto lo agregué para que se despuegue la barra del fondo... saquenlo si no gusta	*/
}

body{
	position: relative;
	top: 48px;
}

.logo-marca img{
	margin: 0px;
	padding: 0px 0px;
	height: 45px;
}

.botonera{
	flex-flow: row;
}

.botonera li{
	flex-grow: 1;
}

.botonera a{
	display: block;
	padding: 10px 0px;
	font-weight: bold;
	color: grey;
	transition: background-color 0.3s;
}

.botonera a:hover{
	background-color: rgba(0, 0, 0, 0.8);
	font-weight: bold;
	color: white;
}

.ingresa{
	flex-flow: row;
	background: #ff5a5f;
	overflow: hidden;
}

.ingresa li{
	flex-grow: 1;
}

.ingresa a{
	display: block;
	padding: 10px 0px;
	font-weight: bold;
	color: white;
}

.ingresa a:hover{
	background: rgba(0, 0, 0, 0.6);
	color: #ff5a5f;
}

.registrate{
	flex-flow: row;
	background: (255, 190, 195, 1);
	overflow: hidden;
}

.registrate li{
	flex-grow: 1;
}

.registrate a{
	display: block;
	padding: 10px 0px;
	font-weight: bold;
	color: #ff5a5f;
}

.registrate a:hover{
	background: rgba(255, 90, 95, 0.7);
	color: white;
}
.dropdown:hover{
	background-color: grey;
}
.dropdown-menu{
	display: none;
	position: relative;
	background-color: lightgrey;
}
.dropdown:hover .dropdown-menu{
	display: block;
}

video{
	display: none;
}

.contenedor-responsive{
	width: 100%;
	padding: 1em;
	text-align: center;
	/*padding-top: 10%;*/ /*solo va en query desktop*/
}

.contenedor-responsive label{
	font-size: 18px;
}

.text-responsive{
	font-size: 1em;
	line-height: 2em;
}

footer{

	padding: 10px;
	color: black ;
	font-size: 14px;
	background-color: rgba(0, 0, 0, 0.1);
}
footer nav{
	margin-top: 20px;
}
footer ul{
	display: flex;
}
footer li {
	margin: auto;
	/*border-right: solid black 2px;*/


}
footer li a {
	margin-right: 8px;
	color: black;
	font-size: 14px;
	line-height: 2px;
}

footer .lugar{
	text-align: center;
	/*padding: 30px;*/
}
footer .lugar a{
	font-weight: 500;
	text-decoration: none;
	color: black;
	line-height: 20px;
}
footer a:hover{
	text-decoration: underline;
}

footer .lugar .map img{
	width: 20px;
	display: block;
	margin: auto;
}

footer .top{
	float: right;
	font-weight: bold;
	color: #ff5a5f;
}
footer img{
	display: block;
	margin:auto;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #ff5a5f;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-family: helvetica;
}


#myBtn:hover {
  background-color: #555;

}
.redesSociales ul li{
	border-right: none;
	margin: auto;
	padding: 10px;

}
.copyRight{
	font-weight: bold;
	display: flex;
	justify-content: center;
	margin-top: 5px;
}


.type_portada {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
	url(../images/pic4.jpg);
	background-size: cover;
	display: block;
	margin: 0px;
	/* height: 95vh;  /*solo va en query desktop*/
	padding: 5%;
	min-height: 500px;
	font-weight: bold;
	color: white;
	text-align: center;
}

.type_portada input[type=search] {
	/*border-radius: 0px 0px 0px 0px;
	margin-left: -20px;*/
}

.type_portada input[type=button] {
	background-color: #ff5a5f;
	background-image: url(../images/lupita_blanca.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 28px 28px;
	width: 40px;
	height: 32px;
	border-radius: 0px 3px 3px 0px;
	border: none;
	outline: none;
	cursor: pointer;
	position: absolute;
	margin-left: -20px;
	transition: background-color 0.3s;
}

.type_portada input[type=button]:hover {
	background-color: #ed878a;
}

.type_portada input[type=button]:active {
	background-color: #ed878a;
	background-position: center 3px;
}

.type_portada h2{
	font-size: 2.3em;
}

.mainButton{
	display: flex;
	justify-content: center;
	font-weight: bold;
	width: 100%;
	height: 80px;
	margin: 5vh auto;
	align-items: center;
	font-size: 0.8em;
	text-decoration: none;
	color: white;
}

.opciones_principales1, .opciones_principales2{
	margin: 0px 10px;
	width: 100%;
	height: 100%;
}

.opciones_principales1 a, .opciones_principales2 a{
	border: none;
	/*width: 36vw;*/
	/*max-width: 450px;*/
	color: white;
	height: 100%;
	width: 100%;
	padding: 5% 2%;
	margin: 0px;
	min-width: 140px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.opciones_principales1 a{
	background-color: #55bd74;
	transition: background-color 0.3s;
}

.opciones_principales2 a{
	background-color:  #ff5a5f;
	transition: background-color 0.3s;
}

.opciones_principales1 a:hover{
	background-color: #95e5ac;
}

.opciones_principales2 a:hover{
	background-color: #ed878a;
}

.type_portada input{
	-webkit-appearance: none;
	background: #f4f4f4;
	line-height: 30px;
	text-align: center;
	max-width: 950px;
	border-radius: 3px 0 0 3px;
	width: 70%;
	margin: 20px;
	font-size: 14px;
	color: #333;
	border: 1px solid #ccc;
}

.type1 {
	display: block;
	margin: 0px;
	padding: 5%;
	min-height: 200px;
	background: white;
	text-align: center;
	/*line-height: 1.5em;*/
	/*position: relative;*/ /*ya no hace falta*/
}

.type2 {
	display: block;
	margin: 0px;
	padding: 5%;
	min-height: 200px;
	background: #666666;
	color: white;
	text-align: center;
	/*line-height: 1.5em;*/
}

.type1 p, .type2 p{
	font-size: 1em;
}

.como-funciona{
	position: relative;
	display: inline-block;
	width: 100%;
}

.como-funciona-imagen{
	position: relative;
	width: 100%;
	float: left;
	z-index: 0;
}

.como-funciona-texto{
	position: relative;
	width: 100%;
	float: right;
	padding: 0 2em 20px 2em;
	text-align: center;
}

.registro_volver a{
	background-color: red;
	padding: 10px;
	margin: auto 300px;
	text-decoration: none;
	color: black;
}

/*------------EMPIEZA estilos LOGIN-------------------------*/

.login-modal{
		position: fixed;
		top: 0;
		margin-top: 0;
		background-color: white;

		display: none; /* oculta al comienzo*/

		z-index: 2;
		/*left: 0;*/
		/*top: 0;*/

		/*ocupar pantalla*/
		width: 100%;
		height: 100vh;
		position: fixed;
		/*scroll si necesita*/
		/*overflow: scroll;*/

	}

.caja-login {
		/*border: 1px solid #888;*/
		width: 100%;
		height: 100%;
		max-width: 500px;
		max-height: 478px;
		overflow: hidden;
		margin: auto;

} /*el form*/

.login-container {
		padding: 16px;
		position: relative;
		overflow: hidden;
		/*background-color: red;*/
		background-color: white;
}

.login-container-abajo{
	background-color: lightgrey;
	overflow: hidden;
	padding: 1em;
	position: relative;
}

.login-container-arriba {
		text-align: center;
		/*margin: 24px 0 12px 0;*/
		height: 40px;
		margin: 0;
		position: relative;
		overflow:  hidden;
		background-color: lightgrey;
}

.login-input[type=email]{
		background-color: #f4f4f4;
		width: 100%;
		margin: 8px 0;
		padding: 12px 20px;
		display: inline-block;
		border: 1px solid lightgrey;
		background-image: url(../images/text-field-icons.png);
		background-repeat: no-repeat;
		background-position: right 9px;
		background-size: 40px 171px;
		border-radius: 3px;
		/*border: none;*/
}

.login-input[type=password]{
		background-color:#f4f4f4;
		width: 100%;
		margin: 8px 0;
		padding: 12px 20px;
		display: inline-block;
		border: 1px solid lightgrey;
		background-image: url(../images/text-field-icons.png);
		background-repeat: no-repeat;
		background-position: right -90px;
		background-size: 40px 171px;
		border-radius: 3px;
		/*border: none;*/
}

.login-input:focus{
	background-color:#f4f4f4;
	border: 1px solid black;
	/*box-shadow: 5px 5px 5px blue;*/
}

.logear-con{
	background-color: #f4f4f4;
	color: negro;
	text-align: center;
	border-bottom: double lightgrey;
}

.logear-con h2{
	padding-left: 0.5em;
}

.logear-con li{
	display: inline-block;
}

.boton-logear-con-red{
	display: inline;
	float: left;
	margin-left: 20%;
	margin-top: 10%;
}

.logear-con li:hover img{
	opacity: 0.8;
}

.logear-con img{
	height: 2.5em;
}

.login-botones {
		/*background-color: #4CAF50;*/
		background-color: #ff5a5f;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: 100%;
		font-weight: bold;
		font-size: 1em;
}

.login-botones:hover {
		opacity: 0.8;
}

.login-olvidaste{
	position: relative;
	padding: 5px;
	float: left;
	text-align: center;
	width: 90%;
}

.ir-registro{
	position: relative;
	padding: 5px;
	float: left;
	text-align: center;
	width: 90%;
	text-decoration: none;
	font-weight: bold;
}

.ir-registro a{
	color: red;
}

.ir-registro a,.psw a{
	text-decoration: none;
}

.ir-registro a:hover, .login-olvidaste a:hover{
	text-decoration: underline;
}

.close {
		position: absolute;
		right: 25px;
		top: 0;
		color: #000;
		font-size: 35px;
		font-weight: bold;
}/* botón cerrar (x) */

.close:hover,
.close:focus {
		color: red;
		cursor: pointer;
}

/*
.animate {
		-webkit-animation: animatezoom 0.6s;
		animation: animatezoom 0.6s
}


@-webkit-keyframes animatezoom {
		from {-webkit-transform: scale(0)}
		to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
		from {transform: scale(0)}
		to {transform: scale(1)}
}*/

/*------------FIN ESTILOS LOGIN-------------------------------------------*/
/* ----------- INICIA ESTILOS REGISTRATE----------------------------------*/

.registro-container {
	display: block;
	text-align: left;
	font-size: 7px;
	padding-top: 10px;
}

.crear-cuenta{
	width: 80%;
	margin: auto;
	text-align: center;
}

.formulario {
	color: #ff5a5f;
	width: 70%;
	margin: 12px auto;
}

.decorative-input, .decorative-input-mail, .decorative-input-password{
	background: #f4f4f4;
	border: 1px solid lightgrey;
	background-repeat: no-repeat;
	background-image: url(../images/text-field-icons.png);
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 40px;
	background-size: 40px 171px;
	border-radius: 3px;
	padding-left: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.decorative-input{
 	background-position: right 9px;
}

.decorative-input-mail {
	background-position: right -40px;
}

.decorative-input-password {
	background-position: right -90px;
}

.decorative-input-fecha {
	background: #f4f4f4;
	border: 1px solid lightgrey;
	box-sizing: border-box;
	display: inline-block;
	text-align: justify;
	width: 32.5%;
	height: 40px;
	border-radius: 3px;
	padding-left: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: grey;
}

.decorative-input-imagen-boton { 
	background: #f4f4f4;
	border: 1px solid lightgrey;
	box-sizing: border-box;
	display: block;
	width: 100%;
	border-radius: 3px;
	margin-top: -5px;
	font-size: 14px;
	cursor: pointer;
}

.text-label {
	display: block;
	text-align-last: left;
	color: grey;
	font-size: 12px;
}

.checkbox{
	cursor: pointer;
	line-height: normal;
	padding-right: 9px;
	margin-bottom: 50px;
	float: left;
}

.me-gustaria{
	text-align-last: justify;
	font-size: 12px;
	color: grey;
}

.enviar{
	font-weight: normal;
	box-sizing: border-box;
	border: none;
	background-color: #ff5a5f;
	color: #fff;
	width: 100% !important;
	font-weight: bold;
	font-size: 16px;
}

.enviar:hover{
	background: #ed878a;
}

.aclaracion{
	margin: 10px 0;
	text-align: center;
	color: grey;
	font-size: 9px;
}

/*------------FIN ESTILOS REGISTRATE-------------------------------------------*/


	.mainButton{
		margin: 10vh auto;
		width: 70%;
		font-size: 1em;
	}

	.enviar{
		padding: 14px;
		font-weight: normal;
		box-sizing: border-box;
		border: none;
		background-color: #ff5a5f;
		color: #fff;
		width: 100% !important;
		/*letter-spacing: 1px;*/
		font-weight: bold;
		font-size: 16px;
	}

	.enviar:hover{
		background: #ed878a;
	}
	.registro-container{
		/*----------mientras tanto --------------*/
		margin: 50px auto;
		max-width: 800px;
	}

	.msj_error {
		margin-left: 25px;
		margin-top: -5px;
		margin-bottom: 15px;
		font-size: 12px;
		color: red;
	}

	.editar{
		margin: 30px 0 0 0;
		background-color: #FF5A5F;
		border: none;
		padding: 3px;
	}


	@media (min-width : 768px) {

	.contenedor-responsive{
		max-width: 800px;
		margin: auto;
	}

	.text-responsive{
		font-size: 1.3em;
	}

	.mainButton{
		margin: 10vh auto;
		width: 60%;
		font-size: 1em;
	}

	.type1 p, .type2 p{
		font-size: 0.8em;
	}

	/*@MQ explicativo , como-funciona....*/

	.como-funciona{
		/*background-color: blue;*/
		position: relative;
		display: inline-block;
		width: 100%;
		margin: 2em;
	}

	.como-funciona-imagen{
		/*background-color: red;*/
		position: relative;
		width: 25%;
		/*float: left;*/
		padding: 1em;
		/*top: 50%;*/
		top: 0;
		/*transform: translateY(50%);*/
	}

	.como-funciona-texto{
		/*background-color: green;*/
		position: relative;
		width: 75%;
		/*float: right;*/
		padding: 1em;
		text-align: left;
	}

	/*@mquery---EMPIEZA BURGUER---*/

	input[type=checkbox] + label {
		background: none;
		top: 5px;
		left: 150vw;
	}

	input[type=checkbox]:checked + label {
		background: none;
		top: 5px;
		left: 150vw;
	}

	.desplegable{
		overflow: visible;
		max-height: 48px;
	}

	.burger-check:checked ~ .desplegable{
		overflow: visible;
		max-height: 48px;
	}

	/*--@mquery----TERMINA BURGUER---*/

	.login-modal {/* la caja de login con su fondo, el div contenedor */
		display: none; /* oculta al comienzo*/

		overflow: hidden;

		/*background-color: rgb(0,0,0); */
		/*background-color: rgba(0,0,0,0.7); */
	}

	.caja-login{
		border: none;
		width: 80%;
		margin: 5% auto 15% auto; /* 5% arriba, 15% abajo y centrado */
		width: 100%;
		max-height: 90vh;
		max-width: 500px;
		overflow: auto;
		border: black 2px solid;

	}
	.login-olvidaste{
		width: auto;
		float: right;
		/*background-color: red;*/
	}
	.ir-registro{
		width: auto;
		float: left;
		/*background-color: red;*/
	}


	.barra_superior{
		flex-flow: row;
		justify-content: center;
		/*align-items: center;*/
	}

	.logo-marca img{
		margin-right: 3.5vw;
	}

	.botonera{
		display: flex;
	}

	.botonera li{
		flex-grow: 1;
	}

	.botonera a{
		display: block;
		padding: 14.5px 1vw;
	}

	.preguntas a{
		margin-right: 3.5vw;
	}

	.ingresa li{
		flex-grow: 1;
	}

	.ingresa a{
		display: block;
		padding: 14.5px 1vw;
	}

	.registrate li{
		flex-grow: 1;
	}

	.registrate a{
		display: block;
		padding: 14.5px 1vw;
	}

	.type_portada {
	background-size: 0;
	min-height: 97vh;
	}

	video{
		display: block;
		position: absolute;
		top: -1%;
		left: 0;
		width: 100vw;
		height: 100vh;
		object-fit: cover;
		z-index: -2;
	}

	.contenedor-responsive-altura{
	padding-top: 8%;
	}


	.registro-container {
	/* aca habia alertas
	padding-left: ;
	padding-right: ; */
	}

	.decorative-input-fecha {
	width: 33.05%;
	}
}

@media (min-width : 1024px)  {

	.logo-marca img{
		margin-right: 15vw;
	}

	.preguntas a{
		margin-right: 15vw;
	}

	.type_portada {
		background-size: 0;
		min-height: 97vh;
	}

	video{
		display: block;
		position: absolute;
		top: -1%;
		left: 0;
		width: 100vw;
		height: 100vh;
		object-fit: cover;
		z-index: -2;
	}

	.contenedor-responsive-altura{
		padding-top: 10%;
	}

	footer .footerContainer{
		margin-top: 7px;
	}

	.logoFooter{
		height: 45px;
		display: block;
		margin: auto;
	}

	.footerContainer{
		display: flex;
		justify-content: space-around;
	}
	footer ul{
		flex-wrap: wrap;
		justify-content: center;
	}
	footer li{
		margin: auto 20px;
	}
	footer ul a{
		/*padding-right: 20px;*/
	}

	.redesSociales{
		margin: auto;
		order: -1;
	}
	footer nav{
		margin: auto;
		max-width: 33%;
		line-height: 50px;
	}

	footer .lugar{
		margin: auto;
	}


}
