		*{
			box-sizing: border-box;
			list-style-type: none;
			text-decoration: none;
			margin: 0;
			padding: 0;
		}


		body {
			background: lightcyan;  /* color de fondo gral */
			font-family: "Verdana", sans-serif;
		}

		header{
			display: block;
			margin: 0px;
			padding: 0px;
			text-align: center;

		}

		.barra_superior {   /* Todo lo que hay en el header. */
			margin: 0px;    /* dejo algunas cosas en cero, por si uno quiere probar un valor rapidamente y luego hacer undo */
			padding: 0px;

			background: lightgrey;

			display: flex;
			flex-flow: column;
		}

		.logo{
			margin: 0px;
			padding: 1vw 0px;
			vertical-align: middle;

			background: rgba(255, 255, 255, 0.9);
			color: black;
			font-weight: bold;
			font-size: 1.5em;
		}

		.botonera{
			flex-flow: row;
		}

		.botonera li{
			flex-grow: 1;
		}

		.botonera a{
			background: rgba(255, 255, 255, 0.9);

			font-weight: bold;
			display: block;

			padding: 10px 0px;

		}

		.botonera a:hover{
			background-color: rgba(0, 0, 0, 0.8);
			font-weight: bold;
			color: white;
		}

		.registrate {
			margin-bottom: 0px;
			padding: 10px 0px;
			border-radius: 5px;

			background: rgba(200, 0, 0, 1);
		}

		.registrate a {
			color: white;
			font-weight: bold;
		}

		footer {
			display: block;
			margin: 0px;
			padding: 1%;
			/* min-height: 100px; */
			background: rgba(0, 0, 0, 0.9);
			color: white;
		}

		.type_portada {
			background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		    url(../images/light01.png);
		    background-size: cover;
			display: block;
			margin: 0px;
			padding: 5%;
			min-height: 500px;
			color: white;
			text-align: center;
		}

		.type_portada h2{
			font-size: 2.3em;
		}
		.mainButton{
			display: flex;
			justify-content: center;

			margin: 30px auto;
			height: 200px;
			width: 400px;
			align-items: center;

		}
		.opciones_principales1 a{
			background-color: #fac031;

			padding: 40px;
			display: block;
			text-decoration: none;
			color: black;
			margin-right: 20px;
			border-radius: 30%;
		}
		.opciones_principales2 a{
			background-color: #387c2b;

			padding: 40px;
			display: block;
			text-decoration: none;
			color: black;
			margin-right: 20px;
			border-radius: 30%;
		}
		.type_portada input{
			line-height: 20px;
			width: 400px;
			text-align: center;
		}



		.type1 {
			display: block;
			margin: 0px;
			padding: 5%;
			min-height: 200px;
			background: rgba(255, 255, 255, 0.8);
			text-align: center;
		}

		.type2 {
			display: block;
			margin: 0px;
			padding: 5%;
			min-height: 200px;
			background: rgba(0, 0, 0, 0.6);
			color: white;
			text-align: center;
		}

		.type2 p{
			font-size: 0.8em;
		}
		.registro_volver a{
			background-color: red;
			padding: 10px;
			margin: auto 300px;
			text-decoration: none;
			color: black;
		}


		/* Small Devices, Tablets */
		@media (min-width : 768px) {

			.barra_superior{
				background: rgba(255, 255, 255, 0.9);
				flex-flow: row;
				justify-content: space-around;
			}

			.logo{
				flex-flow: row;
				margin: 0px;
				padding: 5px;
			}

			.botonera{
				display: flex;

				/*max-width: 1000px;*/
			}

			.botonera li{
				flex-grow: 1;
			}

			.botonera a{
				display: block;

				padding: 15px 50px;
				margin-right: 0px 0px;
			}

			.registrate a {
				padding: 15px 50px;
				border-radius: 5px;
			}

			.registrate a {
				color: white;
				font-weight: bold;
				
			}
