*{
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}


body {
	background: lightcyan;  /* color de fondo gral */
	font-family: "Verdana", sans-serif;
}

header{
	display: block;
	margin: 0px;
	padding: 0px;
	text-align: center;

}

.barra_superior {   /* Todo lo que hay en el header. */
	margin: 0px;    /* dejo algunas cosas en cero, por si uno quiere probar un valor rapidamente y luego hacer undo */
	padding: 0px;
	

	background: lightgrey;

	display: flex;
	flex-flow: column;
}

.logo-marca {
	background: rgba(255, 255, 255, 0.9);
}

.logo-marca img{
	margin: 0px;
	padding: 2px 0px;
	height: 50px;
}

.botonera{
	flex-flow: row;
}

.botonera li{
	flex-grow: 1;
}

.botonera a{
	display: block;
	padding: 10px 0px;
	
	background: rgba(255, 255, 255, 0.9);
	font-weight: bold;	
	color: grey;
}

.botonera a:hover{
	background-color: rgba(0, 0, 0, 0.8);
	font-weight: bold;
	color: white;
}

.registrate{
	flex-flow: row;
	/*padding: 10px 0px;*/
	/*border-radius: 5px;*/
	/* GONZA: el redondeante, creo, queda disonante con el resto, cualquier cosa lo activamos de nuevo */
	background: rgba(200, 0, 0, 1);
}

.registrate li{
	flex-grow: 1;
}

.registrate a{
	display: block;
	padding: 10px 0px;

	font-weight: bold;
	color: white;	
}

.registrate a:hover{
	background-color: rgba(0, 0, 0, 0.6);
	font-weight: bold;
	color: red;
}

footer{
	display: block;
	margin: 0px;
	padding: 1%;
	/* min-height: 100px; */
	background: rgba(0, 0, 0, 0.9);
	color: white;
	font-size: 14px;
}

footer a{
	float: right;
	font-weight: bold;
	color: red;
}

.type_portada {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	url(../images/light01.png);
	background-size: cover;
	display: block;
	margin: 0px;
	padding: 5%;
	min-height: 500px;
	font-weight: bold;
	color: white;
	text-align: center;
}

.type_portada h2{
	font-size: 2.3em;
}

.mainButton{
	display: flex;
	justify-content: center;

	margin: auto;
	height: 200px;
	align-items: center; 
}

.opciones_principales1 a{
	background-color: rgba(0, 0, 0, 0.8);
	border: solid white 1px;
	width: 36vw;
	max-width: 450px;
	min-height: 5vw;
	padding: 5%;
	
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: white;
	margin: 1vw;
	border-radius: 5px;
}
.opciones_principales2 a{
	background-color: rgba(0, 0, 0, 0.8);
	border: solid white 1px;
	width: 36vw;
	max-width: 450px;
	min-height: 5vw;
	padding: 5%;

	display: block;
	text-decoration: none;
	font-weight: bold;
	color: white;
	margin: 1vw;
	border-radius: 5px;
}

.type_portada input{
	line-height: 20px;
	text-align: center;
	max-width: 950px;
	border-radius: 3px;
}

.type1 {
	display: block;
	margin: 0px;
	padding: 5%;
	min-height: 200px;
	background: rgba(255, 255, 255, 0.8);
	text-align: center;
}

.type2 {
	display: block;
	margin: 0px;
	padding: 5%;
	min-height: 200px;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	text-align: center;
}

.type2 p{
	font-size: 0.8em;
}
.registro_volver a{
	background-color: red;
	padding: 10px;
	margin: auto 300px;
	text-decoration: none;
	color: black;
}


/*------------estilos para caja de registro-------------*/
/* campos de texto al 100% */
input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.botones-login {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

.logear-con{
	background-color: #366EBB;
	color: white;
}

button:hover {
	opacity: 0.8;
}


.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}

img.avatar {
	width: 20%;
	border-radius: 50%;
}

.container {
	padding: 16px;
	position: relative;
	overflow: hidden;

}

.psw{
	padding: 5px;
	float: right;
	/*background-color: red;*/
}
.ir-registro{
	padding: 5px;
	float: left;
	/*background-color: red;*/
	text-decoration: none;
	font-weight: bold;

}
.ir-registro a{
	color: red;
}
.ir-registro a,.psw a{
	text-decoration: none;
}
.ir-registro:hover a, .psw:hover a{
	text-decoration: underline;
}

/* la caja de login con su fondo, el div contenedor */
.modal {
	display: none; /* oculta al comienzo*/
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	/*ocupar pantalla*/
	width: 100%;
	height: 100%;
	/*scroll si necesita*/
	overflow: auto;
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

.caja-login {
	background-color: #fefefe;
	margin: 5% auto 15% auto; /* 5% arriba, 15% abajo y centrado */
	border: 1px solid #888;
	width: 80%;
	height: 90%;
	max-width: 500px;
	max-height: 523px; /* altura de la ventana de login*/
}

/* bot贸n cerrar (x) */
.close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: red;
	cursor: pointer;
}

/*animaci贸n cuando aparece (ZOOM)  -webkit   */
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)}
	to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
}



/*------------estilos para caja de registro-------------*/
/* campos de texto al 100% */
input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.botones-login {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

.logear-con{
	background-color: #366EBB;
	color: white;
}

button:hover {
	opacity: 0.8;
}


.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}

img.avatar {
	width: 20%;
	border-radius: 50%;
}

.container {
	padding: 16px;
	position: relative;
	overflow: hidden;
}

.psw{
	padding: 5px;
	float: right;
	/*background-color: red;*/
}
.ir-registro{
	padding: 5px;
	float: left;
	/*background-color: red;*/
	text-decoration: none;
	font-weight: bold;

}
.ir-registro a{
	color: red;
}
.ir-registro a,.psw a{
	text-decoration: none;
}
.ir-registro:hover a, .psw:hover a{
	text-decoration: underline;
}
/* la caja de login con su fondo, el div contenedor */

.modal {
	display: none; /* oculta al comienzo*/
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	/*ocupar pantalla*/
	width: 100%;
	height: 100%;
	/*scroll si necesita*/
	overflow: auto;
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.caja-login {
	background-color: #fefefe;
	margin: 5% auto 15% auto; /* 5% arriba, 15% abajo y centrado */
	border: 1px solid #888;
	width: 80%;
	height: 90%;
	max-width: 500px;
}

/* bot贸n cerrar (x) */
.close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: red;
	cursor: pointer;
}

/*animaci贸n cuando aparece (ZOOM)  -webkit   */
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)}
	to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
}




/*------------estilos para caja de registro-------------*/



/* Small Devices, Tablets */
@media (min-width : 768px) {

	.barra_superior{
		background: white;
		width: 100%;
		position: fixed;
		top: 0px;
		flex-flow: row;
		justify-content: center;
		align-items: center;
	}

	body{
		position: relative;
		top: 48px;
	}

	.logo-marca {
		background: rgba(255, 255, 255, 0.9);
	}

	.logo-marca img{
		margin: 0px 50px;
		padding: 0px 0px;
		height: 40px;
	}

	.botonera{
		display: flex;
	}

	.botonera li{
		flex-grow: 1;
	}

	.botonera a{
		display: block;

		padding: 15px 3vw;
	}

	.registrate li{
		flex-grow: 1;
	}

	.registrate a{
		display: block;
		padding: 15px 3vw;

		font-weight: bold;
		color: white;	
	}